<div>
  <mat-card>
    <mat-card-content>
      <mat-card-title translate>Hello world !</mat-card-title>
      <mat-card-subtitle>
        <app-loader [isLoading]="isLoading" size="1"></app-loader>
      </mat-card-subtitle>

      <mat-form-field>
        <mat-label>Facility Type</mat-label>
        <mat-select (selectionChange)="onFacilityOptionSelected($event.value)">
          <mat-option value="basketball">
            basketball
          </mat-option>
          <mat-option value="football">
            football
          </mat-option>
        </mat-select>
      </mat-form-field>

      <mat-table [dataSource]="facilities">
        <!-- Name Column -->
        <ng-container matColumnDef="Name_en">
          <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.Name_en }}</mat-cell>
        </ng-container>

        <!-- Address Column -->
        <ng-container matColumnDef="Address_en">
          <mat-header-cell *matHeaderCellDef>Address</mat-header-cell>
          <mat-cell *matCellDef="let row">{{ row.Address_en }}</mat-cell>
        </ng-container>

        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
        <mat-row *matRowDef="let row; columns: displayedColumns"></mat-row>
      </mat-table>
    </mat-card-content>
  </mat-card>
</div>
